@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;
@define-color shadow #000000;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Comic Sans MS;
  font-size: 18px;
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  background-color: alpha(@base, 1.0);
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-top: 0px; 
  margin-bottom: 20px; 
  margin-left: 0px;
  margin-right: 0px; 
  padding-left: 5px;
  padding-right: 5px;
  border: solid;
  border-color: @surface0;
  border-radius: 0px 0px 0px 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;

  box-shadow: 0px 0px 10px @shadow, 
              0px 0px 5px @shadow, 
              0px 0px 3px @shadow,
              0px 0px 2px @shadow;
}

/*=======================================================*/
/* Left Panel                                            */
/*=======================================================*/

#custom-logo {
  margin: 5px;
  margin-bottom: 6px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 9px;
  font-size: 30px;
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: 0px 0px 3px @shadow;
}

#custom-logo:hover  {
  color: @crust;
  background-color: @blue;
  box-shadow: 0px 0px 3px @blue;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  margin-top:9px;
  margin-bottom: 9px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 30px;
  background-color: @surface0;
  border: solid 2px @surface0;
  color: @text;
  box-shadow: 0px 0px 3px @shadow;
}

#workspaces button.active {
  color: @crust;
  background-color: @text;
  border-color: @text;
  box-shadow: 0px 0px 3px @text;
}

#workspaces button:hover {
  color: @crust;
  background-color: @green;
  border-color: @green;
  box-shadow: 0px 0px 3px @green;
}

#workspaces button.urgent {
  color: @crust;
  background-color: @red;
  border-color: @red;
  box-shadow: 0px 0px 3px @red;
}

#tray {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  background-color: @surface0;
  box-shadow: 0px 0px 3px @shadow;
}

/*=======================================================*/
/* Center Panel                                          */
/*=======================================================*/

#window {
  font-family: ComicShannsMono Nerd Font Mono;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 30px;
  color: @text;
  background-color: @surface0;
  box-shadow: 0px 0px 3px @shadow;
}

window#waybar.empty #window {
    background-color: transparent;
    box-shadow: none;
}

/*=======================================================*/
/* Right Panel                                           */
/*=======================================================*/

#custom-power  {
  margin: 5px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-right: 18px;
  padding-left: 12px;
  font-size: 30px;
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: 0px 0px 3px @shadow;
}

#custom-power:hover  {
  color: @crust;
  background-color: @red;
  box-shadow: 0px 0px 3px @red;
}

#clock {
  font-family: ComicShannsMono Nerd Font Mono;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 7px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 30px;
  background-color: @surface0;
  border: solid 2px @surface0;
  color: @text;
  box-shadow: 0px 0px 3px #000000;
}

#custom-gpu-usage { 
  font-family: ComicShannsMono Nerd Font Mono;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 7px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 30px;
  background-color: @surface0;
  border: solid 2px @surface0;
  color: @text;
  box-shadow: 0px 0px 3px #000000;
}

#custom-cpu-usage { 
  font-family: ComicShannsMono Nerd Font Mono;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 7px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 30px;
  background-color: @surface0;
  border: solid 2px @surface0;
  color: @text;
  box-shadow: 0px 0px 3px #000000;
}

#network { 
  font-family: ComicShannsMono Nerd Font Mono;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 7px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 10px;
  border-radius: 30px;
  background-color: @surface0;
  border: solid 2px @surface0;
  color: @text;
  box-shadow: 0px 0px 3px #000000;
}
