window {
    font-family: ComicShannsMono Nerd Font Mono;
    font-size: 64pt;
    color: #cdd6f4; 
    background-color: rgba(17, 17, 27, .88);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    border: solid 5px transparent;
    color: #ced7f4;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(30, 30, 46, 0);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
    transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.5);
    border: 5px rgb(166, 218, 149) solid;
}

#lock {
    background-image: image(url("/home/lunix/.config/hypr/wlogout/icons/lock.png"));
    background-size: 400px;
}
#logout {
    background-image: image(url("/home/lunix/.config/hypr/wlogout/icons/logout.png"));
     background-size: 400px;
}
#shutdown {
     background-image: image(url("/home/lunix/.config/hypr/wlogout/icons/shutdown.png"));
     background-size: 400px;
}
#reboot {
   background-image: image(url("/home/lunix/.config/hypr/wlogout/icons/reboot.png"));
    background-size: 490px;
}

